<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Text Utils</title>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Text Utils</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About us</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/contact">Contact us</a>
      </li>

    </ul>

  </div>
</nav>

  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Welcome to TextUtils!</strong> You can edit your text here.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<br>

  <div class="container">
      <form action='/analyze' method='post'>{% csrf_token %}
          <div class="form-group">
            <label for="text1">Enter your text here.</label>
            <textarea class="form-control" name="text" id="text1" rows="10"></textarea>
          </div>

      <div class="custom-control custom-switch">
      <input type="checkbox" name="removepunc" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Remove punctuation</label>
      </div>
      <div class="custom-control custom-switch">
      <input type="checkbox" name="fullcap" class="custom-control-input" id="customSwitch2">
      <label class="custom-control-label" for="customSwitch2">UPPER CASE</label>
      </div>
       <div class="custom-control custom-switch">
      <input type="checkbox" name="new" class="custom-control-input" id="customSwitch3">
      <label class="custom-control-label" for="customSwitch3">New line remover</label>
      </div>
       <div class="custom-control custom-switch">
      <input type="checkbox" name="space" class="custom-control-input" id="customSwitch4">
      <label class="custom-control-label" for="customSwitch4">Extra space remover</label>
      </div>
       <div class="custom-control custom-switch">
      <input type="checkbox" name="count" class="custom-control-input" id="customSwitch5">
      <label class="custom-control-label" for="customSwitch5">Char count</label>
      </div>
      <button type="submit" class="btn btn-info mt-2">Analyze Text</button>
           </form>
  </div>


  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>